*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    
}



section {
    display: flex;
}
section#choix{
    height: 73vh;
    width: 100%;
    background-color: blue;
    flex-wrap: wrap;
}

section#menu{
    height: 27vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;

}

article{
    display: flex;
    
}

article#distance{
    height: 25%;
    width: 100%;
    background-color: brown;
}
article#cible{
    height: 45%;
    width: 100%;
    background-color: red;
}
article#tir{
    height: 25%;
    width: 100%;
    background-color:crimson;  
}
.distance{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.distance img{
width: 20%;
height: 100%;
}
.cible{
    display: flex;
    justify-content: space-evenly;

    width: 100%;
}
.tir{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}
.tir img{
    width: 9%;
height: 70%;
}
input[type="button"] {
    height: 30%;
    width: 10%;
    font-size: 200%;
}