*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    color:black;
    text-decoration: none;

}

.choix{
    color:black;
    text-decoration: none;
    font-size: 250%;

}

.envoie{
    background-color: #6F6F6F;
}

.nav-container{
    background-color: #6F6F6F ;
    color: #FFFFFF;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}
p{
    text-align : left;
}
.nav-container a{
    width: 10%;
}
.fleche{
    width: 50%;
    margin-left: 5%;
    
}
.distance{
    display: flex;
    width: 70%;
    
}

.dis{
    width: 55%;
}



input.cache[type="radio"]{
    display: none;
    visibility: hidden;
}

input.cache[type="checkbox"]{
    display: none;
    visibility: hidden;
}

input.cache:checked{
    visibility: hidden;
}


article{
    display: flex;
    
}

article#distance{
    height: 25%;
    width: 100%;
   /* background-color: brown;*/
}
article#cible{
    height: 45%;
    width: 100%;
    /*background-color: red;*/
}
article#tir{
    height: 25%;
    width: 430%;
    /*background-color:crimson;  */
}
.distance{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.distance img{
width: 20%;
height: 100%;
}
.cible{
    display: flex;
    justify-content: space-evenly;

    width: 100%;
}
.tir{
    display: flex;
    justify-content: space-evenly;
    width: 21%;
}
.plomb{
    width: 100%;
height: 80%;
}
input[type="button"] {
    height: 30%;
    width: 10%;
    font-size: 200%;
}
.session-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.btn input{
    font-size: 210%;
}


.active-border{
    border: #248D7D  10px solid;
    border-radius: 50%;
    background-color: #248D7D;
}
.active-borderCible{
    border: #248D7D  15px solid;
    border-radius: 20%;
}
.active-borderPlomb{
    background-color: #248D7D;
    border: #248D7D  15px solid;
    border-radius: 20%;
}